ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -10px;
}

li {
    float: left;
    font-family:fantasy;
    font-size: 20px;
}

li a {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: ghostwhite;
}

div {
    height: 400px;
    padding-top: 0.1px;
    margin-left: -8px;
    margin-right: -8px;
}

.about {
    background-color: lightblue;
}

.skills {
    background-color: lightcoral;
}

.projects {
    background-color: lightcyan;
}

.experience {
    background-color: lightgoldenrodyellow;
}

.contact {
    background-color: lightgray;
}