html {
    background: white;
}

*, *:before, *:after {
    box-sizing: inherit;
}
.font-awesome {
    font-size: 50px !important;
    color: black;
}

.about-description {
    max-width: 80%;
}

.margin-left-double {
    margin-left: 2rem;
}

div {
    background: white;
}

.section {
    border-bottom: 1px solid lightgrey;
}

code { background-color: gray; color: blue; }
.var-highlight{
    color: #C0AD60;
}
.string-highlight{
    color: rgba(253, 149, 90, 0.8);
}
.font-size-50 {
    font-size: 20px !important;
    margin: 0 auto;
    display: table;
    padding-left: 1rem;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.float-right {
    float: right !important;
}
.align-center {
    text-align: center !important;
}
.mind-the-gap {
    height: 400px;
}
.inline {
    display: inline-block;
}
.project-description {
    max-width: 50%;
}
.candoll {
    height: 200px;
}
.padding-right {
    padding-right: 1rem;
}
