html {
    background: white;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    padding: 0;
    background-color: lightblue;
}

li {
    float: left;
    font-family:fantasy;
    font-size: 10px;
}

li a {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

body {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lightpink), to(lightblue));
    background: -webkit-linear-gradient(top, lightpink, lightblue);
    background: -moz-linear-gradient(top, lightpink, lightblue);
    background: -ms-linear-gradient(top, lightpink, lightblue);
    background: -o-linear-gradient(top, lightpink, lightblue);
    margin: 0;
}

h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    text-align: center;
    font-size: 40px;
    color: hotpink;
    margin-top: 50px;
}

div {
    background-color: white;
    padding-top: 10px;
    overflow: hidden;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

h2 {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: lightblue;
    text-align: center;
}

heading {
    text-align: center;
    padding: 150px;
}

.navbar {
    background: black;
}

.flex {
    margin: 0 auto;
    width: 90%;
    max-width: 1250px;
    border-left: 3px solid pink;
    border-right: 3px solid pink;
}

.about {
    border-top: 3px solid purple;
    border-bottom: 3px dotted pink;
}

.skills {
    background-color: white;
    border-bottom: 3px dotted pink;
}

.skills-text {
    padding-top: 2.5rem;
}

.circles {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 50%;
    background: pink;
    padding: 1rem;
    margin: 1rem;
}

@media screen and (max-width: 39.9375em) {
    .circle {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        display: block;
        border-radius: 50%;
        background: pink;
        padding: 1rem;
        margin: 1rem;
    }
}

.projects {
    background-color: white;
    border-bottom: 3px dotted pink;
}

.experience {
    background-color: white;
    border-bottom: 3px dotted pink;
}

.contact {
    background-color: white;
    border-bottom: 3px solid purple;
}

.description {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
